

html {
  background: black;
}

.App {
  flex-direction: inherit;
  text-align: center;
  color: #f56c27;
}

.header {
  block-size: inherit;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  float: left;
}

#nbaLogo {
  color: #f56c27;
  font-size: 44pt;
  padding: 0 20 0 0;
  margin-right: 5%;
  min-height: 50%;
}
#nbaTitle {
  color: #f56c27;
  list-style: none;
  font-size: 3em;
}

.login {
  color: #f56c27;
}
.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


  
  @media screen and (max-width: 550px) {
    .grid {
      display: grid;
      }
   
    .App-logo {
      grid-area: center;
    }
    }